# Logs
logs
*.log

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Output of 'npm pack'
*.tgz

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

tenders.json
esbuild_tmp_out.mjs
cloudrun_job.yaml
tasks/*.js
docker/package.json

__pycache__/
outputs/
*.blend
!tests/*.blend

*.mp4
deploy.bat

